/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/

body {
  background-color: $dark-purple;
  color: $gray-3;
  font-family: $font-family-sans-serif-reg;
  font-size: $font-size-baseline;
  letter-spacing: 0.04em;
  line-height: 160%;
  overflow-x: hidden !important;
  font-style: normal;
  font-weight: normal;
}

h1,
h3,
h5,
label,
button,
a {
  text-transform: uppercase;
}

h1 {
  font-family: $font-family-serif;
  line-height: 140%;
  letter-spacing: 0.08em;
  font-size: $h1-font-size-sm;

  @include tablet {
    font-size: $h1-font-size;
  }
}

h2 {
  letter-spacing: 0.05em;
  line-height: 140%;
  font-size: 2.4rem;

  @include tablet {
    font-size: $h2-font-size;
  }
}

h3 {
  font-family: $font-family-serif;
  line-height: 140%;
  letter-spacing: 0.08em;
  font-size: $h3-font-size-sm;

  @include tablet {
    font-size: $h3-font-size;
  }
}

h5 {
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.04em;
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  line-height: 120%;
  letter-spacing: 0.1em;
}

p {
  line-height: 170%;
  letter-spacing: 0.05em;
  font-size: 1.4rem;

  @include tablet {
    font-size: $font-size-baseline;
  }
}

span {
  display: inline-block;
}

a {
  text-decoration: none;

  &:active, &:visited, &:focus {
    color: $gray-3;
  }
}

label,
.label {
  line-height: 100%;
  letter-spacing: 0.2em;

  @include tablet {
    font-size: $font-size-sm;
  }
}

b {
  font-family: $font-family-sans-serif-ultra;
}

small {
  font-size: $font-size-sm;
}
