.form-wrapper {
    margin-top: 20vh;
    height: 100%;
    padding-top: 0;

    @include tablet {
        margin-top: 35vh;
    }
}

a.underlined {
    text-decoration: underline;
    text-underline-position: under;
}