.form-wrapper {
    margin-top: $navbar-height-sm;
    height: 100%;
    padding-top: 4rem;

    @include tablet {
        margin-top: $navbar-height;
    }
}

a.underlined {
    text-decoration: underline;
    text-underline-position: under;
}