.aside-page {
    &-wrapper {
        margin-top: $navbar-height-sm;
        margin-bottom: 10rem;
        height: 100%;

        @include tablet {
            margin-top: $navbar-height;
        }
    }

    &-title {
        margin-bottom: 20rem;
        padding-top: 20rem;
    }

    &-block {
        margin-bottom: 8rem;
        width: 100%;

        @include desktop {
            width: 60%;
        }

        p {
            margin-bottom: 2rem;
            line-height: 170%;
        }
    }

    &-surtitle {
        padding-bottom: 3rem;
        margin-bottom: 4rem;
        border-bottom: $light-border;
    }
}