.homepage {
    &-title {
        width: 100%;
        margin-bottom: 4rem;

        @include desktop {
            width: 80%;
            margin-bottom: 6rem;
        }

        @include resolution(1600px) {
            width: 70%;
        }
    }
}


.form-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
}