body {
    width: 100%;
    height: 100%;
    background-image: url('../images/background-mixed.jpg');
    background-repeat: no-repeat;
    background-position: top; 
    background-size: cover;

    &#index {
        background-image: url('../images/background-mixed-short.jpg');
    }
}

main,
section {
    position: relative;
}

img {
    &.bg-texture {
        @include position(absolute, 0, 0);
        height: 100%;
        width: 100%;
        object-position: 50% 50%;
        object-fit: cover;
        z-index: -5;
    }

    &.fixed-sun {
        @include position(fixed, 50%, null, null, -26%);
        transform: translateY(-50%);
        width: 150%;

        @include tablet {
            right: -50%;
            width: auto;
        }

        @include desktop {
            right: -20%;
        }
    }
}
