body {
    width: 100%;
    height: 100%;
    background-image: url("../images/background-mixed.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

main,
section {
    position: relative;
}

img {
    &.bg-texture {
        @include position(absolute, 0, 0);
        height: 100%;
        width: 100%;
        object-position: 50% 50%;
        object-fit: cover;
        z-index: -5;
    }

    &.fixed-sun {
        @include position(fixed, 50%, null, null, -26%);
        transform: translateY(-50%);
        width: 150%;

        @include tablet {
            right: -80%;
        }

        @include desktop {
            width: 55%;
            right: -26%;
        }
    }
}

svg {
    &.large-header {
        font: 17rem $font-family-serif;
        width: 100%;
        text-align: center;
        height: 45rem;
        opacity: 0.2;
        position: absolute;
        z-index: -1;
        top: 5%;

        text {
            fill: none;
            stroke: $gray-3;
            stroke-width: 1px;
            stroke-linejoin: round;
        }

        &.nestatini {
            text {
                transform: translateX(-60%);
            }
        }

        &.indago {
            text {
                transform: translateX(-40%);
            }
        }

        &.indago {
            text {
                transform: translateX(-42%);
            }
        }
    }
}


.scroll-down {
    @include position(absolute, null, 0, 1rem, null);
    width: 100%;
    padding: 0 2rem;
    z-index: -3;

    @include tablet {
        padding: 0 4rem;
    }

    .scroll-arrow {
        display: inline;

        &:last-child {
            float: right;
        }
    }
}