header {
    @extend .section-o-wrapper;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5rem;
    width: 100%;
    height: $navbar-height-sm;
    z-index: 10;

    @include tablet {
        padding-top: 9rem;
        height: $navbar-height;
    }

    .logo-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    .logo {
        width: 80%;

        @include tablet {
            width: 34rem;
        }
    }

    &.header-navigation {
        display: flex;
        align-items: center;

        .logo {
            width: 60%;

            @include tablet {
                width: 34rem;
            }
        }



        .btn-link {
            display: none;
            z-index: 1;

            @include tablet {
                display: block;
            }
        }

        .back-link {
            position: absolute;

            @include tablet {
                position: relative;
            }

            span {
                display: none;

                @include tablet {
                    display: block;
                }
            }
        }
    }
}

.back-link {
    display: flex;
    align-items: center;
    font-family: $font-family-sans-serif-ultra;
    width: 18rem;
    
    img {
        margin-right: 2rem;
    }
}
