header {
    @extend .section-o-wrapper;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5rem;
    width: 100%;

    @include tablet {
        padding-top: 10rem;
    }

    .logo-link {
        display: block;
    }

    .logo {
        @extend .img-center;
        width: 80%;

        @include tablet {
            width: 34rem;
        }
    }
}
