
@font-face {
  font-family: 'Harbour';
  src: url(../resources/HarbourRegular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Monument-Regular';
  src: url(../resources/MONUMENTEXTENDED-REGULAR.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Monument-Ultra';
  src: url(../resources/MONUMENTEXTENDED-ULTRABOLD.otf) format('opentype');
  font-display: swap;
}