// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

.links-grid {
        display: grid;
	grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include tablet {
                grid-template-columns: 1fr 1fr max-content;
        }
}

.policies-grid {
        display: grid;
	grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include tablet {
                grid-template-columns: 1fr max-content 1fr;
        }
}