/*
--------------------------------------------------------------------------------
Text and alignments
--------------------------------------------------------------------------------
*/
.no-select   { @include no_select(); }

.truncate    { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.img-center  { margin-left: 50%; transform: translateX(-50%); }
.clear:after { content: ''; clear: both; display: block; }

.w-100       { width: 100%; }
.h-100       { height: 100%; }

.no-margin   { margin: 0 !important; }
.no-padding  { padding: 0 !important; }

.fullscreen {
  width: 100%;
  height: 100vh;
}

.t-center { text-align: center; }


/*
--------------------------------------------------------------------------------
Widths
--------------------------------------------------------------------------------
*/
.w-25     { width: 25%; }
.w-50     { 
  width: 100%; 
  @include tablet {
    width: 50%; 
  }
}


/*
--------------------------------------------------------------------------------
Draggable elements
--------------------------------------------------------------------------------
*/
.drag {
  cursor: move;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}


/*
--------------------------------------------------------------------------------
Margins
--------------------------------------------------------------------------------
*/
.mt-5   { margin-top:    .5rem; }
.mt-10  { margin-top:    1rem; }
.mt-20  { margin-top:    2rem; }
.mt-30  { margin-top:    3rem; }
.mt-40  { margin-top:    4rem; }
.mt-50  { margin-top:    5rem; }
.mt-75  { margin-top:    7rem; }
.mt-100 { margin-top:    10rem; }
.mt-120 { margin-top:    12rem; }
.mt-150 { margin-top:    15rem; }
.mt-200 { margin-top:    20rem; }
.mr-5   { margin-right:  .5rem; }
.mr-10  { margin-right:  1rem; }
.mr-20  { margin-right:  2rem; }
.mr-30  { margin-right:  3rem; }
.mr-40  { margin-right:  4rem; }
.mr-50  { margin-right:  5rem; }
.mr-75  { margin-right:  7rem; }
.mr-100 { margin-right:  10rem; }
.mr-120 { margin-right:  12rem; }
.mr-150 { margin-right:  15rem; }
.mr-200 { margin-right:  20rem; }
.mb-5   { margin-bottom: .5rem; }
.mb-10  { margin-bottom: 1rem; }
.mb-20  { margin-bottom: 2rem; }
.mb-30  { margin-bottom: 3rem; }
.mb-40  { margin-bottom: 4rem; }
.mb-50  { margin-bottom: 5rem; }
.mb-75  { margin-bottom: 7rem; }
.mb-100 { margin-bottom: 10rem; }
.mb-120 { margin-bottom: 12rem; }
.mb-150 { margin-bottom: 15rem; }
.mb-200 { margin-bottom: 20rem; }
.ml-5   { margin-left:   .5rem; }
.ml-10  { margin-left:   1rem; }
.ml-20  { margin-left:   2rem; }
.ml-30  { margin-left:   3rem; }
.ml-40  { margin-left:   4rem; }
.ml-50  { margin-left:   5rem; }
.ml-75  { margin-left:   7rem; }
.ml-100 { margin-left:   10rem; }
.ml-120 { margin-left:   12rem; }
.ml-150 { margin-left:   15rem; }
.ml-200 { margin-left:   20rem; }


/*
--------------------------------------------------------------------------------
Paddings
--------------------------------------------------------------------------------
*/
.p-10 { padding: 1rem; }
.p-20 { padding: 2rem; }

/*
--------------------------------------------------------------------------------
Opacity
--------------------------------------------------------------------------------
*/
.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
