/*
--------------------------------------------------------------------------------
Fonts auxiliar mixins
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
Mobile first queries
--------------------------------------------------------------------------------
*/
@mixin phablet        { @media (min-width: 556px)  { @content; } }
@mixin tablet         { @media (min-width: 768px)  { @content; } }
@mixin desktop        { @media (min-width: 992px) { @content; } }
@mixin hd             { @media (min-width: 1200px) { @content; } }
@mixin resolution($r) { @media (min-width: #{$r})  { @content; } }


/*
--------------------------------------------------------------------------------
Retina queries
--------------------------------------------------------------------------------
*/
@mixin retina($dp) { @media (-webkit-min-device-pixel-ratio: #{$dp}) { @content; } }


/*
--------------------------------------------------------------------------------
Position
--------------------------------------------------------------------------------
*/
@mixin position ($position: null, $top: null, $left: null, $bottom: null, $right: null) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

/*
--------------------------------------------------------------------------------
Fix for mobile devices
--------------------------------------------------------------------------------
*/
@mixin remove_tap_highlight() {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin smooth_scroll() {
  -webkit-overflow-scrolling: touch;
}


/*
--------------------------------------------------------------------------------
Custom helpers
--------------------------------------------------------------------------------
*/
@mixin no_select() {
  user-select: none;
}

@mixin transition($type: all, $duration: .3) {
  transition: $type #{$duration}s cubic-bezier(.19,1,.22,1)
}

@mixin transition-cubic() {
  transition: 0.3s cubic-bezier(0, 0, .3, .9);
}

@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin show() {
  display: block;
}

@mixin hide() {
  display: none;
}
