/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$black: #000000;
$gray-1:#4F4F4F;
$gray-2:#828282;
$gray-3:#F3F6F9;
$white: #ffffff;


