/*
--------------------------------------------------------------------------------
FONTS
--------------------------------------------------------------------------------
*/

$font-family-sans-serif-reg: 'Monument-Regular', sans-serif;
$font-family-sans-serif-ultra: 'Monument-Ultra', sans-serif;
$font-family-serif: 'Harbour', serif;


$font-size-baseline: 1.6rem; /* 16px */
$font-size-sm: $font-size-baseline * 0.75; /* 12px */

$h1-font-size: $font-size-baseline * 3.125; /* 50px */
$h2-font-size: $font-size-baseline * 2.875; /* 48px */
$h3-font-size: $font-size-baseline * 2.375; /* 40px */
$h4-font-size: $font-size-baseline * 2.25; /* 36px */
$h5-font-size: $font-size-baseline * 1.25; /* 20px */
$h6-font-size: $font-size-baseline * 0.875; /* 14px */
$btn-font-size: $font-size-baseline * 1.125; /* 18px */

$h1-font-size-sm: $font-size-baseline * 2.375; /* 40px */
$h3-font-size-sm: $font-size-baseline * 1.75; /* 36px */


//----- NAVBAR -----//

$navbar-height: 9rem;


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/

$light-border: 1px solid $gray-3;
